.vehicle-test-layout-table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.vehicle-urdf-min-height {
    min-height: 70vh;
}

.speed-value-chip {
    width: 100px;
}
