[Unit]
Description=FastAPI Uvicorn Service
After=network.target

[Service]
Type=simple
User=www
WorkingDirectory=/home/www/wcs
Environment=PYTHONUNBUFFERED=1

ExecStart=/usr/bin/python3 fastapi_main.py

Restart=always
RestartSec=1
KillSignal=SIGINT
KillMode=mixed
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target