pandas
fastapi
uvicorn==0.30.6
paho-mqtt
PySide6
pyqtgraph # chart, graph
python-multipart
torch
torchvision
opencv-python
scikit-image
ultralytics
sam2
antlr4-python3-runtime==4.9.3
huggingface_hub
decord
tensorboard 